/* Global custom styles */

/* Ensure that cards take up the majority of the width on larger screens */
@media (min-width: 768px) {
    .custom-calendar-card {
      max-width: 80%;
    }
  }
  
  /* Adjust toolbar title size on smaller screens for better readability */
  @media (max-width: 600px) {
    .fc .fc-toolbar-title {
      font-size: 20px;
    }
  }
  
  /* Ensure toolbar title is appropriately sized on larger screens */
  @media (min-width: 768px) {
    .fc .fc-toolbar-title {
      font-size: 24px;
    }
  }
  
  /* Style the calendar card with rounded corners and a shadow for depth */
  .custom-calendar-card {
    max-width: 90%;
    margin: auto;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 4px 40px rgba(52, 168, 83, 0.3);
  }
  
  /* FullCalendar styles */
  
  /* Standardize day cell appearance */
  .fc .fc-daygrid-day {
    border: 1px solid #e1e1e1;
    margin: 2px;
  }
  
/* Custom CSS for highlighting the selected date */
.fc-day-selected {
    background-color: #4caf50; /* Green background for selected date */
    color: white; /* White text color for selected date */
    border: 1px solid #367c2b; /* Dark green border for selected date */
  }
  
  /* Differentiate the style for today, even if selected */
  .fc-day-today.fc-day-selected {
    background-color: #34a853; /* A different shade of green for today if selected */
  }
  
  /* Style for day numbers */
  .fc .fc-daygrid-day-number {
    color: #333;
    font-size: 16px;
    font-weight: normal;
  }
  
  /* Style for today */
  .fc .fc-day-today {
    background-color: #f0f0f0;
    border: 1px solid #4caf50;
  }
  
  /* Toolbar title styles */
  .fc .fc-toolbar-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Style primary buttons with a theme color */
  .fc .fc-button-primary {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  /* Style the day frame within each cell */
  .fc .fc-daygrid-day-frame {
    border-radius: 15px;
    border: 1px solid #34A853;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  
  /* Style the top section of each day cell */
  .fc .fc-daygrid-day-top {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Remove default borders from day cells */
  .fc .fc-daygrid-day {
    border: none;
  }
  
  /* Consistent padding for all buttons */
  .fc .fc-button {
    padding: 8px 12px;
  }
  